# dependencies
node_modules/

# next.js
.next/
out/

# production
build/

# env files
.env
.env*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# vercel
.vercel

# misc
.DS_Store
*.pem

# snowflake
snowflake.log

# IDE
.idea/
.vscode/
*.swp
*.swo
